## creating the employees table in postgres DB

In [ ]:
CREATE TABLE employees (
    employee_id SERIAL PRIMARY KEY,
    first_name VARCHAR(40),
    last_name VARCHAR(40),
    email VARCHAR(50),
    phone_number VARCHAR(20),  -- Assuming phone numbers might include dashes or other characters
    hire_date TIMESTAMP,
    job_id INT,
    salary NUMERIC,  -- Use NUMERIC for more precise salary values
    commission_pct NUMERIC,  -- Use NUMERIC for percentages
    manager_id INT,
    department_id INT
);

In [ ]:
COPY employees (employee_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, commission_pct, manager_id, department_id)
FROM '/path/to/your/datafile.csv'
WITH (FORMAT csv, HEADER true);

# Imp querries

In [ ]:
with duplicats as (
    select ctid, ROW_NUMBER() OVER( PARTITION BY rci,lni,doc_id order by ctid) as cnt 
    from table1
)
delete from table1
where ctid in (
    select ctid from duplicates where cnt>1
)