#### Show the category_name and the average product unit price for each category rounded to 2 decimal places.

In [ ]:
SELECT c.category_name, round(avg(p.unit_price),2) as average_unit_price
FROM products p
JOIN categories c On c.category_id = p.Category_id
GROUP BY c.category_name

#### Show the ProductName, CompanyName, CategoryName from the products, suppliers, and categories table

### Show unique first names from the patients table which only occurs once in the list.

For example, if two or more people are named 'John' in the first_name column then don't include their name in the output list. If only 1 person is named 'Leo' then include them in the output.

In [ ]:
SELECT first_name FROM patients
group by first_name
having count(first_name) =1

### Show unique birth years from patients and order them by ascending.

In [ ]:
SELECT
  DISTINCT YEAR(birth_date) AS birth_year
FROM patients
ORDER BY birth_year;


SELECT year(birth_date)
FROM patients
GROUP BY year(birth_date)

###  Show patient_id and first_name from patients where their first_name start and ends with 's' and is at least 6 characters long.

In [ ]:
select patient_id,first_name from patients
where first_name like 's____%s';

SELECT
  patient_id,
  first_name
FROM patients
WHERE
  first_name LIKE 's%s'
  AND len(first_name) >= 6;

### Show the province_id(s), sum of height; where the total sum of its patient's height is greater than or equal to 7,000.

In [ ]:
SELECT
  province_id,
  SUM(height) AS sum_height
FROM patients
GROUP BY province_id
HAVING sum_height >= 7000


select * from (select province_id, SUM(height) as sum_height FROM patients group by province_id) where sum_height >= 7000;

### Show patient_id, diagnosis from admissions. Find patients admitted multiple times for the same diagnosis.

In [ ]:
SELECT
  patient_id,
  diagnosis
FROM admissions
GROUP BY
  patient_id,
  diagnosis
HAVING COUNT(*) > 1;

### Show all columns for patient_id 542's most recent admission_date.

In [ ]:
SELECT *
FROM admissions
WHERE
  patient_id = '542'
  AND admission_date = (
    SELECT MAX(admission_date)
    FROM admissions
    WHERE patient_id = '542'
  )


select * from admissions
group by patient_id
having patient_id=542
and admission_date = max(admission_date)

### display the first name, last name and number of duplicate patients based on their first name and last name.

Ex: A patient with an identical name can be considered a duplicate.

In [ ]:
select
  first_name,
  last_name,
  count(*) as num_of_duplicates
from patients
group by
  first_name,
  last_name
having count(*) > 1

select first_name, last_name, count(*) as duplicates from patients
group by first_name,last_name
having duplicates>1